<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Solid - Responsive Tabs </title>
    <meta name="Solid - Responsive Tabs" content="Responsive Tabs">

    <!-- Mobile viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts that are used -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600|Lato:400,500,700,900" type="text/css">

    <!-- BootStrap CSS Settings, For BootStrap Version -->
    <link rel="stylesheet" href="js/bootstrap/bootstrap.min.css" type="text/css">

    <!-- SolidTabs+ CSS Settings -->
    <link rel="stylesheet" href="css/solid-tabs.css" type="text/css">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css" type="text/css">

    <!-- Tab Design Themes -->
    <link rel="stylesheet" href="css/theme-02.css" type="text/css" id="themes">

</head>
<body>

  <div id="wrapper">

	 <div class="solid-tabs" id="solid-tabs"> <!-- SolidTabs Container -->

    {% block page %}{% endblock %}

	 </div>
  </div>
</body>
<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>              <!-- jQuery Library -->
<script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script>        <!-- Bootstrap's js, For BootStrap Version -->
<script src="js/solid-tabs.js" type="text/javascript"></script>

</html>
