{% extends "../layout/layout.twig" %}

{% block page %}
<!-- tab-design-1 -->

    <div class="tab-main-container tab-design-1">

        <ul class="nav nav-tabs tab-marker l-inline-list tab-marker-tight tab-marker-tight-separator tab-marker-rounded-top">

          <li class="active"><a data-toggle="tab" href="#tab-1" data-mina="ripple"><i class="fa fa-home fa-fg"></i><strong>முகப்பு</strong><span></span></a></li>
          <li><a data-toggle="tab" href="#tab-2" data-mina="ripple"><i class="fa fa-bookmark fa-fg"></i><strong>வெண்முரசு</strong><span></span></a></li>
          <li><a data-toggle="tab" href="#tab-3" data-mina="ripple"><i class="fa fa-bookmark fa-fg"></i><strong>விஷ்ணுபுரம் விருது</strong><span></span></a></li>
          <li><a data-toggle="tab" href="#tab-4" data-mina="ripple"><i class="fa fa-bookmark fa-fg"></i><strong>ஆன்மீகம்</strong><span></span></a></li>

        </ul>

        <div class="tab-content">

            <div id="tab-1" class="tab-pane fade in active">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="post-lists">
                          <ul class="post-lists-content">
                              <li>
                                  <div class="post-image post-image-fluid l-float-none">
                                      <img src="http://placehold.it/350x200" alt="வெண்முரசு">
                                  </div>
                                  <div class="post-entry pad-left-0">
                                      <h5 class="post-title">வெண்முரசு</h5>
                                      <ul class="post-details l-group">
                                          <li class="dt"><i class="icon-calendar3 "></i> July 3, 1905 </li>
                                          <li class="cmt"><i class="icon-comments"></i> 1 M </li>
                                      </ul>
                                      <div class="post-meta">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cum quaerat, natus cupiditate dolores culpa maxime, recusandae incidunt veritatis fugiat quibusdam quis officiis aliquid, labore ratione vel libero alias est?
                                      </div>
                                      <a href="#" class="btn btn-default btn-small btn-flat"> Read More </a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="post-lists">
                          <ul class="post-lists-content">
                              <li>
                                  <div class="post-image post-image-fluid l-float-none">
                                      <img src="http://placehold.it/350x200" alt="விஷ்ணுபுரம் விருது">
                                  </div>
                                  <div class="post-entry pad-left-0">
                                      <h5 class="post-title">விஷ்ணுபுரம் விருது</h5>
                                      <ul class="post-details l-group">
                                          <li class="dt"><i class="icon-calendar3 "></i> July 3, 1905 </li>
                                          <li class="cmt"><i class="icon-comments"></i> 1 M </li>
                                      </ul>
                                      <div class="post-meta">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cum quaerat, natus cupiditate dolores culpa maxime, recusandae incidunt veritatis fugiat quibusdam quis officiis aliquid, labore ratione vel libero alias est?
                                      </div>
                                      <a href="#" class="btn btn-default btn-small btn-flat"> Read More </a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="post-lists">
                          <ul class="post-lists-content">
                              <li>
                                  <div class="post-image post-image-fluid l-float-none">
                                      <img src="http://placehold.it/350x200" alt="ஆன்மீகம்">
                                  </div>
                                  <div class="post-entry pad-left-0">
                                      <h5 class="post-title">ஆன்மீகம்</h5>
                                      <ul class="post-details l-group">
                                          <li class="dt"><i class="icon-calendar3 "></i> July 3, 1905 </li>
                                          <li class="cmt"><i class="icon-comments"></i> 1 M </li>
                                      </ul>
                                      <div class="post-meta">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cum quaerat, natus cupiditate dolores culpa maxime, recusandae incidunt veritatis fugiat quibusdam quis officiis aliquid, labore ratione vel libero alias est?
                                      </div>
                                      <a href="#" class="btn btn-default btn-small btn-flat"> Read More </a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="post-lists">
                          <ul class="post-lists-content">
                              <li>
                                  <div class="post-image post-image-fluid l-float-none">
                                      <img src="http://placehold.it/350x200" alt="விஷ்ணுபுரம் விருது">
                                  </div>
                                  <div class="post-entry pad-left-0">
                                      <h5 class="post-title">விஷ்ணுபுரம் விருது</h5>
                                      <ul class="post-details l-group">
                                          <li class="dt"><i class="icon-calendar3 "></i> July 3, 1905 </li>
                                          <li class="cmt"><i class="icon-comments"></i> 1 M </li>
                                      </ul>
                                      <div class="post-meta">
                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea cum quaerat, natus cupiditate dolores culpa maxime, recusandae incidunt veritatis fugiat quibusdam quis officiis aliquid, labore ratione vel libero alias est?
                                      </div>
                                      <a href="#" class="btn btn-default btn-small btn-flat"> Read More </a>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-2" class="tab-pane fade">
              <div class="container-fluid ">
                <div class="row">
                  <div class="col-lg-12">
                    Tab 2
                  </div>
                </div>
              </div>
            </div>

            <div id="tab-3" class="tab-pane fade">
            <div class="container-fluid ">
              <div class="row">
                <div class="col-lg-12">
                  Tab 3
                </div>
              </div>
            </div>
            </div>

        </div>

    </div>


{% endblock %}
